body {background-color:gainsboro;
font-size: large
font-family: Arial}
h1 { color:red;
	font-family:Times New Roman;
text-align: center}
footer {margin: auto;
height: 300px;
text-align: center;}
